@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
    --main-black: rgb(26, 26, 26);
    --main-white: rgba(255, 255, 255, 1);
    --main-grey: rgba(146, 146, 146, 1);
    --secondary-grey: rgba(35, 35, 35, 1);
    --main-blue: rgba(0, 209, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    text-decoration: none;   
    overflow-wrap: anywhere;

}

main {
    width: 100%;
    height: 100vh;
}

/* ---> SIDEBAR <--- */
.sidebar {
    z-index: 3;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    background-color: var(--main-black);
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

.sidebar-visible{
    transform: translateX(0%);
}

.sidebar--close_btn {
    background: none;
    border: none;
    position: absolute;
    right: 1rem;
    top: 10px;
}

.sidebar--close_btn:active {
    transform: scale(0.8);
}

.sidebar--user_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.225rem;
    padding-top: 3.5rem;
}

.sidebar--user_info--label,
.sidebar--signature,
.sidebar--signature_link {
    color: var(--main-grey);
}

.sidebar--close_btn,
.sidebar--user_info--desc {
    color: var(--main-white);
    margin-bottom: 1rem;
}

.sidebar--track_user_btn, .info-section--card_btn {
    border: none;
    background: linear-gradient(to right, var(--main-white) 50%, var(--main-black) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    margin-left: 10px;
    transition: all .3s ease;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    width: 40%;
    max-width: 200px;
    border-radius: 18px;
    margin: 3rem
}

.sidebar--track_user_btn:hover, .info-section--card_btn:hover {
    background-position: right bottom;
    color: var(--main-white);
    border: 1px solid var(--main-white);
    transform: scale(1.1);
}

.sidebar--track_user_btn:active, .info-section--card_btn:active {
    transform: scale(0.9);
}

.sidebar--logo {
    width: 25%;
    max-width: 100px;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar--signature {
    position: absolute;
    bottom: 1rem;
    font-size: 0.8rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar--signature_link:hover {
    color: var(--main-white);
}

/* ---> SEARCHBAR <--- */

.searchbar {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-black);
    width: 100%;
    height: 35px;
    font-size: 1.5rem;
    padding: 8px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.searchbar--sidebar_btn {
    background: none;
    text-align: center;
    border: 1px solid var(--main-white);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: var(--main-white);
}

.searchbar--sidebar_btn:active {
    transform: scale(0.8);
}

.searchbar--search_user_input {
    width: 83%;
    display: flex;
}

.searchbar--input_field {
    outline: none;
    border: none;
    border-radius: 18px 0 0 18px;
    padding: 8px;
    width: 75%
}

.searchbar--input_btn {
    background-color: var(--main-blue);
    width: 15%;
    border: 1px solid var(--main-white);
    color: var(--main-white);
    border-radius: 0px 18px 18px 0px;
}

.searchbar--input_btn:active {
    transform: scale(.9);
}

/* ---> INFO CARD <--- */
.info-section {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    transition: 0.4s ease-in;
}

.info-section--card {
    background-color: var(--main-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 150px;
    padding: 50px;
    border-radius: 18px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    opacity: 0;
}

.infoSectionCard-active{
    opacity: 100;
}

.info-section--card_btn {
    border: 1px solid var(--main-black);
    margin: 0;
    width: 80%;
}

/* ---> SPINNER <--- */
.spinner {
    margin: 5rem auto;
    text-align: center;
    width: 50px;
    height: 50px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* ---> MAP SECTION <--- */
.map-section {
    position: relative;
    width: 100%;
    height: calc(100% - 51px);
}

#map{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* ---> LEAFLET STYLING <--- */
.popup {
    text-align: center;
}
.searched-popup-info {
    font-size: 1rem;
}

.popup-span {
    font-weight: bold;
}


@media screen and (max-height: 698px){
    .sidebar {
        overflow: scroll;
    }

    .sidebar--logo, .sidebar--signature {
        position: initial;
        transform: translate(0);
    }
}

@media screen and (min-width: 778px) {
    .sidebar--close_btn, .searchbar--sidebar_btn {
        display: none;
    }

    .sidebar {
        position: inline;
        transform: translate(0);
        width: 200px;
    }

    .sidebar--user_info {
        margin-top: 7rem;
    }

    .sidebar--track_user_btn {
        margin-top: 6rem;
        width: 160px;
    }

    .sidebar--logo {
        width: 80px;
        margin-bottom: 3rem;
    }

    .searchbar {
        position: absolute;
        z-index: 3;
        top: 3rem;
        left: 0;
        width: 200px;
    }

    .map-section {
        height: 100vh;
    }

    #map{
        width: calc(100% - 200px);
        left: auto;
        right: 0;
    }
}